{% extends 'layouts/default.html.twig' %}

{% block main %}
    <h3 class="mb-4">All posts</h3>

    <div class="container">
        <div class="row">
            {% if posts is not empty %}
                {% for post in posts %}
                    <a class="col-md-4 d-flex" href="/posts/{{ post.id }}">
                        <div class="card mb-4 flex-fill">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                                 preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                <text x="50%" y="50%" fill="#dee2e6" text-anchor="middle" alignment-baseline="middle"
                                      style="white-space: pre-line;">{{ post.title }}</text>
                            </svg>
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text text-truncate">{{ post.content }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>Статей не найдено.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
