{% extends 'layouts/default.html.twig' %}

{% block main %}

    {% if session().hasFlash('success') %}
        {% for message in session().getFlash('success') %}
            <div class="alert alert-success mt-3">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h3>{{ post.title }}</h3>

    <p>
        {{ post.content }}
    </p>

{% endblock %}